/*  ==== GLOBAL ===== */

#root {
  min-height: 100vh; 
}

header.MuiPaper-elevation4 {
    box-shadow: -2px 3px 9px -1px rgba(183, 183, 183, 0.42), 
                0px 4px 5px 0px rgba(0,0,0,0.14), 
                0px 1px 10px 0px rgba(0,0,0,0.12);
}

button.btn-outline-success,
button.btn-outline-success:hover
 {
  border: 2px solid #32cc99!important;
  color: #32cc99!important;
}

a.App-navigation-item {
   padding: 0 .5rem;
}

.accent-color {
  color: #32cc99;
}

/* ==== NAVIGATION ===== */

.nav-bg-landing {
    background-color: black !important;
}

.nav-bg-landing a {
  color: white !important;
  font-weight: bold;
}

.nav-bg-landing a.App-navigation-item--active {
    font-weight: bold;
    color: green !important;
}

.nav-bg-portfolio {
    background-color: white !important;
}

.nav-bg-portfolio a {
  color: black !important;
  font-weight: bold;
}

.nav-bg-portfolio a.App-navigation-item--active {
    font-weight: bold;
    color: green !important;
}

.nav-bg-about {
    background-color: green !important;
}

.nav-bg-about a {
  color: black !important;
  font-weight: bold;
}

.nav-bg-about a.App-navigation-item--active {
    font-weight: bold;
    color: yellow !important;
}

.nav-bg-contact {
    background-color: purple !important;
}

.nav-bg-contact a {
  color: black !important;
  font-weight: bold;
}

.nav-bg-contact a.App-navigation-item--active {
    font-weight: bold;
    color: yellow !important;
}

#logo{
    width: 50px;
    height: auto;
}

/* ===== LANDING ===== */

#heading-text {
  padding-top: 65px;
}

/* ===== LAYOUT ===== */

#landing {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}

#portfolio {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
}

#about {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  color: white;
}

#contact {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: purple;
  color: white;
}

/* ===== RESPONSIVE ===== */

@media only screen and (min-width : 320px) {
  #background-img {
    background-size: contain;
    background-position: bottom center;
 }

  #heading-text {
    height: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
 }

}

@media (min-width: 568px) { 
    a.App-navigation-item {
    padding: 0 1rem;
    }

}

@media only screen and (min-width: 768px ) {
    #background-img {
        background-size: cover;
        background-position: bottom right;
    }
}


@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

   #background-img {
       background-size: auto;
   }

}